@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Nanum+Myeongjo:wght@400;700;800&family=Oswald:wght@200;300;400;500;600;700&family=Rosarivo:ital@0;1&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Rosarivo', serif;
    color: #1C2321;
}

/* Headings and Logo */

h1 {
    font-family: 'Nanum Myeongjo', serif;
    letter-spacing: 2px;
    color: #5E6572;
}

#logo {
    float: left;
    font-size: 200%;
    margin-left: 20px;
}

/* Navigation Menu */

#nav {
    color:#5E6572;
    font-size: 180%;
    letter-spacing: 2px;
}

#menu, #logo {
    line-height: 50px;
}

#menu > li {
    float: right;
    list-style-type: none;
    margin-right: 50px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

.active {
    border-bottom: 1px solid #242424;
}

#nav-toggle:checked~nav {
    display: block;
}

.nav-toggle-label {
    font-size: 2rem;
}

#nav-button {
    float: right;
    background-color: #D0CCD0;
    padding: 7px 5px;
    width: 150px;
    color: #ffffff;
    text-align: center;
    border: 4px double #5e6572;
    border-radius: 10px;
    font-size: 75%;
    cursor: pointer;
    margin: 5px;
}

#nav-button:hover {
    background-color: #7D98A1;
}

/* Main image and accompanying text */

#overall-main {
    height: 750px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#main-image {
    height: 750px;
    max-width: 100%;
    background: url(../images/castle-front-main.jpg) no-repeat top center;
    
}

#main-image-text {
    font-size: 170%;
    font-family: 'Rosarivo', serif;
    color: #5E6572;
    text-align: center;
    letter-spacing: 2px;
    width: 600px;
    height: 600px;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

#main-button {
    display: inline-block;
    background-color: #D0CCD0;
    padding: 7px 5px;
    width: 150px;
    color: #ffffff;
    text-align: center;
    border: 4px double #5e6572;
    border-radius: 10px;
    font-size: 55%;
    cursor: pointer;
    margin: 5px;
}

#main-button:hover {
    background-color: #7D98A1;
}

#essential-container {
    width: auto;
    position: relative;
    clear: both;
    max-width: 175rem;
}

#essential-text {
    text-align: center;
    font-size: 14px;
    letter-spacing: 0.2em;
}

footer {
    background-color: orange;
}